/**
 * Accordion list item block
 *
 * @since 2.0.0
 */

.wp-block-jordanpak-accordion-list-item {
	position: relative;
	padding: 0.25rem 0;
	line-height: var(--line-height-reduced);

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: -1.4rem;
		background: #d4d4d4;
	}

	&::before {
		top: 0;
		bottom: 0;
		width: 2px;
	}

	&::after {
		top: 0.875rem;
		width: 0.75rem;
		height: 2px;
	}

	&:first-child::before {
		top: -0.25rem;
	}

	&:last-child::before {
		bottom: calc(100% - 1rem);
	}

	@media (--content-query) {

		&::before,
		&::after {
			left: -1.75rem;
		}

		&::after {
			top: 1.0625rem;
			width: 1.0625rem;
		}


		&:last-child::before {
			bottom: calc(100% - 1.125rem);
		}
	}
}
