/**
 * Navigation menus
 *
 * @since 2.0.0
 */

.menu {
	margin-left: -0.75rem;
	margin-right: -0.75rem;
}

.menu-item {

	a {
		display: block;
		padding: 0.55rem 0.75rem;
		font-family: var(--font-family-heading);
		line-height: var(--line-height-heading);
		letter-spacing: var(--letter-spacing-less-wide);
		font-size: calc(20 / var(--font-size-base) * 1rem);
		text-decoration: none;
	}

	.svg-inline--fa {
		margin-right: 0.4rem;
		color: var(--color-primary);
		font-size: calc(15 / var(--font-size-base ) * 1rem);
		transform: translateY(-1px);
	}
}

#menu-primary {
	display: grid;
	grid-auto-flow: column;
	justify-content: start;

	@media (--wide-menu-max-query) {

		.menu-item a {
			transition: background-color var(--transition-timing-function) var(--transition-duration);

			&:hover,
			&:focus {
				background-color: var(--color-black);
			}
		}
	}
}
