/**
 * Accordions block
 *
 * @since 2.0.0
 */

.wp-block-jordanpak-accordions,
.wp-block-jordanpak-accordion-link {
	color: var(--color-black);
}

.wp-block-jordanpak-accordions {
	border-radius: var(--border-radius);
	overflow: hidden;

	> * + * {
		border-top: 1px solid #d4d4d4;
	}
}

.wp-block-jordanpak-accordions,
.wp-block-jordanpak-accordions h2,
.wp-block-jordanpak-accordions h3,
.wp-block-jordanpak-accordions h4 {
	font-family: var(--font-family-condensed);
	-webkit-font-smoothing: antialiased;
}

.wp-block-jordanpak-accordions h2,
.wp-block-jordanpak-accordions h3,
.wp-block-jordanpak-accordions h4,
.jp-accordion-list-heading,
.wp-block-jordanpak-accordion-link {
	line-height: var(--line-height-heading);
}

.wp-block-jordanpak-accordions h2,
.wp-block-jordanpak-accordions h3,
.wp-block-jordanpak-accordions h4,
.wp-block-jordanpak-accordion-link {
	font-weight: 700;
	letter-spacing: normal;
}

.jp-accordion-list-heading,
.wp-block-jordanpak-accordion-link {
	position: relative;
	padding: 1rem 1rem 1rem 3rem;
}

.wp-block-jordanpak-accordions > h2,
.wp-block-jordanpak-accordions > h3,
.wp-block-jordanpak-accordions > h4 {
	padding: 1rem;
	text-transform: uppercase;
	font-size: calc(22 / var(--font-size-base) * 1rem);
	letter-spacing: var(--letter-spacing-wide);
	color: var(--color-white);
	text-shadow: var(--text-shadow-dark-gray);
	background: var(--gradient-dark-gray);
}

.jp-accordion-list-heading-text,
.wp-block-jordanpak-accordion-link {
	font-size: calc(20 / var(--font-size-base) * 1rem);
}

.jp-accordion-list-heading .svg-inline--fa,
.wp-block-jordanpak-accordion-link .svg-inline--fa {
	position: absolute;
	left: 1rem;
	top: 50%;
	transform: translateY(-50%);
	font-size: calc(20 / var(--global-font-size) * 1rem);
}

.jp-accordion-list-heading-text {
	display: inline-block;
}

@media (--content-query) {

	.jp-accordion-list-heading,
	.wp-block-jordanpak-accordion-link {
		padding: 1.125rem 1.5rem 1.125rem 4.25rem;
	}

	.jp-accordion-list-heading .svg-inline--fa,
	.wp-block-jordanpak-accordion-link .svg-inline--fa {
		left: 1.75rem;
		font-size: calc(22 / var(--global-font-size) * 1rem);
	}


	.wp-block-jordanpak-accordions > h2,
	.wp-block-jordanpak-accordions > h3,
	.wp-block-jordanpak-accordions > h4 {
		padding: 1.25rem 1.75rem;
	}
}


// PUT IN ACC LIST??
.wp-block-jordanpak-accordion-list {
	background: var(--color-white);
}

.jp-accordion-list-heading {
	cursor: pointer;

	.svg-inline--fa[data-icon-family="fab"] {
		font-size: calc(23 / var(--font-size-base) * 1rem);
		top: calc(50% - 2px);
	}
}

@media (--content-query) {

	.jp-accordion-list-heading .svg-inline--fa[data-icon-family="fab"] {
		font-size: calc(28 / var(--font-size-base) * 1rem);
		top: calc(50% - 2px);
	}
}


// PUT IN LIST ITEMS??
.jp-accordion-list-items {
	margin-top: -0.25rem;
	padding: 0rem 1rem 0.5rem 3rem;

	@media (--content-query) {
		padding-right: 1.5rem;
		padding-bottom: 1.5rem;
		padding-left: 4.25rem;
	}
}

// PUT IN LIST ITEM???
.wp-block-jordanpak-accordion-list-item {
	position: relative;
	padding: 0.25rem 0;
	line-height: var(--line-height-reduced);

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: -1.4rem;
		background: #d4d4d4;
	}

	&::before {
		top: 0;
		bottom: 0;
		width: 2px;
	}

	&::after {
		top: 0.875rem;
		width: 0.75rem;
		height: 2px;
	}

	&:first-child::before {
		top: -0.25rem;
	}

	&:last-child::before {
		bottom: calc(100% - 1rem);
	}

	@media (--content-query) {

		&::before,
		&::after {
			left: -1.75rem;
		}

		&::after {
			top: 1.0625rem;
			width: 1.0625rem;
		}


		&:last-child::before {
			bottom: calc(100% - 1.125rem);
		}
	}
}


// PUT IN LINK???
.wp-block-jordanpak-accordion-link {
	display: block;
	background: var(--gradient-light-gray);
	text-decoration: none;
}
